@use "../../src/styles/mixins" as mixins;

.site-footer {
  background-color: var(--tokens-colors-gray-900);
  padding-block: 84px;
  color: var(--tokens-colors-white);

  &__columns {
    @include mixins.laptop {
      display: flex;
      gap: 16px;
    }
  }

  &__column {
    @include mixins.laptop {
      flex: 1 0;
    }
  }

  &__legal {
    display: flex;
    justify-content: center;
  }
}
