@use "../../src/styles/mixins" as mixins;

.site-footer {
  background-color: var(--tokens-colors-gray-900);
  padding-inline: var(--layout-page-gutter);
  padding-block: 84px;
  color: var(--tokens-colors-white);

  &__columns {
    @include mixins.large-tablet {
      display: flex;
      gap: 16px;
    }
  }

  &__column {
    @include mixins.large-tablet {
      flex: 1 0;
    }
  }
}
