@use "mixins" as mixins;

@include mixins.mobile-m {
  :root {
    --layout-container-max-width: 356px;
  }
}

@include mixins.mobile-l {
  :root {
    --layout-container-max-width: 395px;
  }
}

@include mixins.tablet {
  :root {
    --layout-container-max-width: 708px;
  }
}

@include mixins.laptop {
  :root {
    --layout-container-max-width: 934px;
  }
}

@include mixins.laptop-l {
  :root {
    --layout-container-max-width: 1280px;
  }
}

@include mixins.desktop {
  :root {
    --layout-container-max-width: 1440px;
  }
}
