:root {
  // Fonts.
  --font-franklin: "Libre Franklin";
  --font-sans-serif: var(--font-franklin), "sans-serif";
  --font-baskerville: "Libre Baskerville";
  --font-serif: var(--font-baskerville), "serif";
  --font-roboto: "Roboto Mono";
  --font-mono: var(--font-roboto), "mono";

  // Colors.
  --tokens-colors-white: #fff;
  --tokens-colors-black: #000;
  --tokens-colors-bright-red: #f00;
  --tokens-colors-red-050: #f3d1cd;
  --tokens-colors-red-100: #ecb2ac;
  --tokens-colors-red-200: #e4938b;
  --tokens-colors-red-300: #dc746a;
  --tokens-colors-red-400: #d45549;
  --tokens-colors-red-500: #c63b2f;
  --tokens-colors-red-600: #ab3428;
  --tokens-colors-red-700: #84271f;
  --tokens-colors-red-800: #631e17;
  --tokens-colors-red-900: #110504;
  --tokens-colors-blue-050: #d2e9ef;
  --tokens-colors-blue-100: #b4daef;
  --tokens-colors-blue-200: #96cbd9;
  --tokens-colors-blue-300: #69b4c9;
  --tokens-colors-blue-400: #4ba5be;
  --tokens-colors-blue-500: #3b8ea5;
  --tokens-colors-blue-600: #2b6778;
  --tokens-colors-blue-700: #204d5a;
  --tokens-colors-blue-800: #16343c;
  --tokens-colors-blue-900: #050d0f;
  --tokens-colors-orange-050: #fdead9;
  --tokens-colors-orange-100: #fad5b2;
  --tokens-colors-orange-200: #f9cb9f;
  --tokens-colors-orange-300: #f8c08c;
  --tokens-colors-orange-400: #f5ab66;
  --tokens-colors-orange-500: #f49e4c;
  --tokens-colors-orange-600: #f28c2c;
  --tokens-colors-orange-700: #e6770f;
  --tokens-colors-orange-800: #c0630c;
  --tokens-colors-orange-900: #733b07;
  --tokens-colors-yellow-050: #fbf8da;
  --tokens-colors-yellow-100: #f5ee9e;
  --tokens-colors-yellow-200: #f1e87e;
  --tokens-colors-yellow-300: #eee159;
  --tokens-colors-yellow-400: #ecde46;
  --tokens-colors-yellow-500: #e8d721;
  --tokens-colors-yellow-600: #b9ab13;
  --tokens-colors-yellow-700: #948910;
  --tokens-colors-yellow-800: #6f670c;
  --tokens-colors-yellow-900: #121102;
  --tokens-colors-cerulean-050: #eff7fa;
  --tokens-colors-cerulean-100: #d0e7f0;
  --tokens-colors-cerulean-200: #c1dfeb;
  --tokens-colors-cerulean-300: #73b6d3;
  --tokens-colors-cerulean-400: #459ec4;
  --tokens-colors-cerulean-500: #2d728f;
  --tokens-colors-cerulean-600: #22566d;
  --tokens-colors-cerulean-700: #183e4e;
  --tokens-colors-cerulean-800: #0f252f;
  --tokens-colors-cerulean-900: #050c10;
  --tokens-colors-gray-050: #f3f4f7;
  --tokens-colors-gray-100: #dbdee6;
  --tokens-colors-gray-200: #c3c8d5;
  --tokens-colors-gray-300: #9fa8bc;
  --tokens-colors-gray-400: #7b87a3;
  --tokens-colors-gray-500: #647290;
  --tokens-colors-gray-600: #434c60;
  --tokens-colors-gray-700: #2a2f3c;
  --tokens-colors-gray-800: #171a21;
  --tokens-colors-gray-900: #08090c;
  --common-text-default: var(--tokens-colors-yellow-900);
  --common-text-light: var(--tokens-colors-gray-700);
}
