:root {
  // Fonts.
  --font-poppins: "Poppins";
  --font-sans-serif: var(--font-poppins), Arial, sans-serif;

  // Colors.
  --tokens-colors-white: #fff;
  --tokens-colors-black: #000;
  --tokens-colors-bright-red: #f00;
  --tokens-color-gray-100: #f8f9fd;
  --tokens-colors-gray-500: #808080;
  --tokens-colors-gray-700: #373737;
  --tokens-colors-gray-900: #202020;
  --tokens-colors-orange-100: #fffee4;
  --tokens-colors-orange-500: #f79f24;
  --tokens-colors-blue-500: #064acb;
  --color-blue: var(--tokens-colors-blue-500);
  --color-orange: var(--tokens-colors-orange-500);
  --common-text-dark: var(--tokens-colors-black);
  --common-text-light: var(--tokens-colors-gray-500);

  // Font sizes.
  --font-size-2xs: 0.625em;
  --font-size-xs: 0.75em;
  --font-size-sm: 0.875em;
  --font-size-md: 1em;
  --font-size-lg: 1.25em;
  --font-size-xl: 1.5em;
  --font-size-2xl: 2em;

  // Layout.
  --layout-page-gutter: 32px;
  --layout-site-header-gap: 64px;
}
