:root {
  // Fonts.
  --font-poppins: "Poppins";
  --font-sans-serif: var(--font-poppins), Arial, sans-serif;

  // Colors.
  --tokens-colors-white: #fff;
  --tokens-colors-black: #000;
  --tokens-colors-bright-red: #f00;
  --tokens-color-gray-100: #f8f9fd;
  --tokens-colors-gray-500: gray;
  --tokens-colors-gray-900: #202020;
  --tokens-colors-orange-500: #f79f24;
  --tokens-colors-blue-500: #064acb;
  --color-blue: var(--tokens-colors-blue-500);
  --color-orange: var(--tokens-colors-orange-500);
  --common-text-dark: var(--tokens-colors-black);
  --common-text-light: var(--tokens-colors-gray-500);
}
