{% set classes = [
  'contact-detail-group'
] %}
<div 
  data-component-id="sb_bazo:contact_detail_group">
	<div class="{% for class in classes %} {{class}}{% endfor %}">
		{% for detail in details %}
			{% include 'sb_bazo:contact_detail' with detail  only %}
		{% endfor %}
	</div>
</div>
