{% set classes = [
  'site-branding',
] %}

<div {{ attributes }} class="{% for class in classes %} {{class}}{% endfor %}">
  <div class="site-branding__title">
    <a href="/">
      {{ title }}
    </a>
  </div>
</div>
