{% set classes = [
  'site-branding',
] %}

<div {{ attributes }}>
	<div class="{% for class in classes %} {{class}}{% endfor %}">
		<div class="site-branding__title">
			<a class="site-branding__link" href="/">
				{{ title }}<span class="site-branding__period">.</span>
			</a>
		</div>
	</div>
</div>
