.site-branding {
  font-size: 1.375em;
  font-weight: 800;
  line-height: 1;
  display: flex;
  align-items: center;

  &__link {
    color: var(--tokens-colors-white);
    text-decoration: none;

    &:hover {
      color: var(--tokens-colors-black);
    }
  }

  &__period {
    color: var(--color-orange);
  }
}
