{% set icon = icon|default('envelope') %}
{% set size = size|default('sm') %}

{% set classes = [
  'social-button',
  'social-button--' ~ icon,
  'social-button--' ~ size,
] %}

<span data-component-id="sb_bazo:social_button">
  <div
    class="{% for class in classes %} {{class}}{% endfor %}">
    {# Keep the outer div whenever possible it is a nice way to ensure the presence of "attributes" #}
    <a href={{url}}>
      {% include 'sb_bazo:icon' with {
      icon: icon,
      size: size,
    } only %}
    </a>
  </div>
</span>
