{% set classes = classes|default([])|merge([
  'site-header'
]) %}

<header data-component-id="sb_bazo:site_header">
  <div class="{% for class in classes %} {{class}}{% endfor %}">
    <div class="site-header__container sb-bazo-container">
      {% block region_content %}
        {% if region_content %}
          {{region_content}}
        {% else %}
          <div>Region content here.</div>
        {% endif %}

      {% endblock %}
    </div>
  </div>
</header>
