@use "../../src/styles/mixins" as mixins;

.site-header {
  background-color: var(--tokens-colors-gray-900);
  align-items: center;
  padding-block: 25px;
  // padding-inline: var(--layout-page-gutter);

  &__container {
    & > *:first-child {
      margin-right: auto;
    }

    & > div {
      padding-block: 8px;
    }

    @include mixins.laptop {
      display: flex;
      gap: var(--layout-site-header-gap);
    }
  }
}
