<section class="main-nav-bar">
	<div class="main-nav">
		<div class="main-nav__menu">
			{% block menu %}
				{% if menu %}
					{{menu}}
				{% endif %}
			{% endblock %}
		</div>
		<div
			class="main-nav__search">
			{# Keep the outer div whenever possible it is a nice way to ensure the presence of "attributes" #}
			{% block search %}
				{% if search %}
					{{search}}
				{% else %}
					SEARCH
				{% endif %}
			{% endblock %}
		</div>
	</div>
</section>
