[data-component-id="sb_bazo:icon"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.1em;
  width: 1.1em;

  i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    svg {
      height: 1.1em;
      width: 1.1em;
    }
  }

  &.icon--2xs {
    font-size: var(--font-size-2xs);
  }

  &.icon--xs {
    font-size: var(--font-size-xs);
  }

  &.icon--sm {
    font-size: var(--font-size-sm);
  }

  &.icon--md {
    font-size: var(--font-size-md);
  }

  &.icon--lg {
    font-size: var(--font-size-lg);
  }

  &.icon--xl {
    font-size: var(--font-size-xl);
  }

  &.icon--2xl {
    font-size: var(--font-size-2xl);
  }
}
