{% set style = style|default("heading") %}
{% set classes = [
  "hero",
  "hero--" ~ style
] %}
<div data-component-id="sb_bazo:hero" class="{% for class in classes %} {{class}}{% endfor %}" style="background-image: url({{image}});">
  <div class="sb-bazo-container hero__container">
    {% if subheading %}
      <div class="hero__subheading">
        {% include 'sb_bazo:heading' with {
          level: '2',
          title: subheading,
          classes: ['subheading']
        } only %}
      </div>
    {% endif %}
    {% block breadcrumbs %}{% if breadcrumbs %}<div class="hero__breadcrumbs">{{breadcrumbs}}</div>{% endif %}{% endblock %}
    <div class="hero__heading">
      {% include 'sb_bazo:heading' with {
        level: '1',
        title: header_text
      } only %}
    </div>
    {% if cta_label %}
      <div class="hero__cta">
        {% include 'sb_bazo:button' with {
          button_style: 'primary',
          label: cta_label,
          href: cta_url|default('#')
        } only %}
      </div>
    {% endif %}
  </div>
</div>
